/* sidebar */
@media (max-width: 767.98px) {
  .sidebar {
    background: #fff;
    position: fixed;
    z-index: 999;
  }
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.rounded-pill{
  background-color: #ffdc68;
}
/* msg */
.msgpart{
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: -1px -1px 7px #ffffff73,
  1px 1px 5px rgba(94,104,121,0.288);
}
/* modal */
#addModal{
  top: 0px;
  position: fixed;
  z-index: 99999;
}
.addModal{
  width:100vw;
  height:100vh;
  position: relative;
  z-index:5;
  background:rgba(51,51,51,0.4);
  top:0px;
  left:0px;
  overflow:auto;
}
.addContent{
  width:600px;
  height:500px;
  position:absolute;
  z-index:5;
  background:#fff;
  border-radius: 10px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:auto;
  overflow:auto;
}
.chgModal{
  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  position: fixed;

}
.chgContent{
  width:600px;
  height:500px;
  z-index:5;
  background:#fff;
  border-radius: 10px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:auto;
  overflow:auto;
  position: fixed;
  box-shadow: 2px 2px 5px gray;
}
