body{
  background-color: #ecf0f1;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.title{
  color: #273c75;
}
.addtitle{
  color: #34495e;
}
.addtitle::after{
  width: 185px;
  height: 5px;
  position: absolute;
  background-color: #ffdc68;
  content:"";
  top: 25px;
  right: 10px;
  z-index: -1;
}
.saveBtn{
  border:2px solid #273c75;
  background-color: #273c75;
  color: #fff;
}
.saveBtn:hover{
  border:2px solid #273c75;
  background-color: transparent;
}

/* sidebar */

@media (max-width: 767.98px) {
  .sidebar {
    background: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 0 !important;
  }
}
.sidebar .nav-link {
  font-weight: 500;
  color: #34495e;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}



.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.rounded-pill{
  background-color: #ffdc68;
}


.part{
  padding: 10px 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: -1px -1px 7px #ffffff73,
  1px 1px 5px rgba(94,104,121,0.288);
}
/* msg */
#msgTab .nav-link.active{
  font-weight: 500;
  color: #273c75;
}
#msgTab .nav-link{
  color: #95a5a6;
}
#msgTabContent .accordion-button{
background-color:  #ecf0f1 ;
color: #273c75;
}
/* modal */
#addModal{
  display:none;
  top: 0px;
  position: fixed;
  z-index: 99999;
}
.addModal{
  width:100vw;
  height:100vh;
  position: relative;
  z-index:5;
  background:rgba(51,51,51,0.4);
  top:0px;
  left:0px;
  overflow:auto;
}
.addContent{
  position:absolute;
  z-index:5;
  background:#fff;
  border-radius: 5px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:auto;
  overflow:auto;
}
.chgModal{
  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  position: fixed;

}
.chgContent{
  width:600px;
  height:500px;
  z-index:5;
  background:#fff;
  border-radius: 10px;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:auto;
  overflow:auto;
  position: fixed;
  box-shadow: 2px 2px 5px gray;
}
